@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    Layout = "Simple";
}
<h1> @ViewData["Title"]</h1>
<strong>Desde la vista parcial</strong>
<div class="container">
    <partial name="ListaObjetosEscuela">
</div>

@* <p><i>@ViewData["CosaDinamica"]</i></p> *@